<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362178897948-t414g9462567r9sbjn2a6ia6en1v8ooc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362178897948-t414g9462567r9sbjn2a6ia6en1v8ooc</string>
	<key>API_KEY</key>
	<string>AIzaSyCg7-5gnWo68L74ApNxGRBxySIyubVkYXU</string>
	<key>GCM_SENDER_ID</key>
	<string>362178897948</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.technion.happyHeart</string>
	<key>PROJECT_ID</key>
	<string>happy-heart-8b942</string>
	<key>STORAGE_BUCKET</key>
	<string>happy-heart-8b942.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362178897948:ios:b0ed56160f1732cbd197d9</string>
</dict>
</plist>